*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
:root{
    --color-one: #1c2135;
    --color-two: #5A6794;
    --color-three: #8794c0;
    --color-four: #E7E9EE;
    --color-background: #d8cdb0;
    --color-white: #FFFFFF;
    --color-black: #000;
    --br-sm-2: 14px;
}
body{
    background-color: var(--color-background);
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1rem;
    color: var(--color-white);
    transition: all .4s ease-in-out;
}